# Exclude IDE configuration directories
.idea/

# Exclude Python cache files
__pycache__/
*.pyc

settings.py

# Exclude Django secret key file (if using a separate secret key file) [secret_key.txt]
.env
