{% extends "base.html" %}
{% block title %}Ajouter une sous-activité{% endblock title %}
{% block content %}



<form class="p-5" action="/get_new_activity/" method="POST" style="width: 100%">

    <div class="card-body text-center">

        <div class="row m-3 shadow-lg p-3 bg-body-tertiary rounded">

            {% csrf_token %}
            <h5>User - {{user.username}}</h5>
          
            <input type="hidden" name="id" value="">

            <div class="row  p-3 mb-5  rounded">
                <div class="col-auto">
                    <input name="idParent" value="{{ idParent }}" disabled>
                    <input type="hidden" name="idParent" value="{{ idParent }}">

                </div>
            </div><hr></hr>
            <div class="col-sm shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <input type="text" class="form-control" placeholder="Libellé" aria-label="Libelle" id="libelle"
                       name="libelle" required>
            </div>
            <div class="col-sm shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <input type="text" class="form-control" placeholder="Nom" aria-label="nom" id="nom" name="nom"
                       required>
            </div>
            <div class="col-sm shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <input type="number" class="form-control" placeholder="Budget initial"
                       aria-label="budget_initial" id="budget_initial" name="budget_initial" required>
            </div>

            <input type="hidden" id="budget_depense" name="budget_depense" value=0>

            <div class="col-sm shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <input type="number" class="form-control" placeholder="Projection partielle"
                       aria-label="projection_partielle" id="projection_partielle" name="projection_partielle"
                       required>
            </div>
            <div class="col-sm-12 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                <textarea class="form-control" placeholder="Commentaires" aria-label="commentaires"
                          id="commentaires" name="commentaires"></textarea>
            </div>
            <input type="submit" class="btn btn-success" value="Ajouter">

        </div>
    </div>
</form>

{% endblock content %}

<!-- nv -->