{% extends "base.html" %}
{% block title %}Gestion{% endblock title %}
{% block content %}

<div class="container">
    <div class="row justify-content-end mb-3">
        <div class="col-auto">
            <button class="btn btn-sm btn-outline-secondary" type="button">
                <a href="{% url 'add_activity_form' %}" class="text-decoration-none text-black">Ajouter une activité</a>
            </button>
        </div>
    </div>

    {% load gestion_tags %}

    <h2>Tableau des Activités</h2>
    <div>
        <div class="table-responsive">
            <table class="table table-bordered">

                <thead class="table-dark">
                <tr>
                    <th>{{ activites.0.2 }}</th>
                    <th>Budget Initial</th>
                    <th>Budget Dépensé</th>
                    <th>Reste</th>
                    <th>Projection Partielle</th>
                    <th>Reste après Projection</th>
                    <th>Commentaires</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                {% for activite in activites %}
                <tr>
                    <td>{{ activite.3 }}</td>
                    <td>{{ activite.4 }}</td>
                    <td>{{ activite.5 }}</td>
                    <td>{{ activite.6 }}</td>
                    <td>{{ activite.7 }}</td>
                    <td>{{ activite.8 }}</td>
                    <td>{{ activite.9 }}</td>
                    <td>
                        <button class="btn btn-outline-primary" type="button"><a
                                href="{% url 'add_subActivity_form' %}?idParent={{ activite.0 }}">ADD</a></button>
                        <button class="btn btn-outline-warning" type="button">
                                <a href="{% url 'modify_activity_form' %}?activite={{ activite }}">UPG</a></button>
                        <button class="btn btn-outline-danger" type="button">DEL</button>
                    </td>
                </tr>
                <tr>
                {% if activite.0|get_sub_activities_by_id_parent %}

                    {% include 'SubActivityTable.html' with subActivities=activite.0|get_sub_activities_by_id_parent %}

                {% endif %}
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}