{% extends "base.html" %}
{% block title %}Gestion des activités{% endblock title %}
{% block content %}
<div class="container">
    <div class="row justify-content-end mb-3">
        <div class="col-auto">
            <button class="btn btn-sm btn-outline-secondary" type="button">
                <a href="{% url 'add_activity_form' %}" class="text-decoration-none text-black">Ajouter une activité</a>
            </button>
        </div>
    </div>

    {% load gestion_tags %}

    <p>{{ 26|get_budget_depense }}</p>

    <h2>Tableau des Activités</h2>
    <div>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>{{ activites.0.2 }}</th>
                    <th>Budget Initial</th>
                    <th>Budget Dépensé</th>
                    <th>Reste</th>
                    <th>Projection Partielle</th>
                    <th>Reste après Projection</th>
                    <th>Commentaires</th>
                    <th></th>
                </tr>
                {% for activite in activites %}
                    <tr>
                        <td>{{ activite.3 }}</td>
                        <td>{{ activite.4 }}</td>
                        <td>{{ activite.5 }}</td>
                        <td>{{ activite.6 }}</td>
                        <td>{{ activite.7 }}</td>
                        <td>{{ activite.8 }}</td>
                        <td>{{ activite.9 }}</td>
                        <td>
                            <button>
                                <a href="{% url 'add_subActivity_form' %}?idParent={{ activite.0 }}">Ajouter une sous-activité</a>
                            </button>
                        </td>
                    </tr>
                    {% if activite.0|get_sub_activities_by_id_parent %}
                        <tr>
                            <td colspan="8">
                                {% include 'SubActivityTable.html' with subActivities=activite.0|get_sub_activities_by_id_parent %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}
