<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion des activités</title>
</head>
<body>
<a href="{% url 'add_activity_form' %}">Ajouter une activité</a>

<h2>Activités</h2>
<table>
    <table border="1">
    <tr>
        <th>{{ activites.0.2 }}</th>
        <th>Budget Initial</th>
        <th>Budget Dépensé</th>
        <th>Reste</th>
        <th>Projection Partielle</th>
        <th>Reste après Projection</th>
        <th>Commentaires</th>
    </tr>
    {% for activite in activites %}
    <tr>
        <td>{{ activite.3 }}</td>
        <td>{{ activite.4 }}</td>
        <td>{{ activite.5 }}</td>
        <td>{{ activite.6 }}</td>
        <td>{{ activite.7 }}</td>
        <td>{{ activite.8 }}</td>
        <td>{{ activite.9 }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
