<!DOCTYPE html>
<html lang="en">
<body>

{% load gestion_tags %}

<table border="1">
    <tr>
        <th>{{ subActivities.0.2 }}</th>
        <th>Budget Initial</th>
        <th>Budget Dépensé</th>
        <th>Reste</th>
        <th>Projection Partielle</th>
        <th>Reste après Projection</th>
        <th>Commentaires</th>
        <th></th>
    </tr>
    {% for activite in subActivities %}
        <tr>
            <td>{{ activite.3 }}</td>
            <td>{{ activite.4 }}</td>
            <td>{{ activite.5 }}</td>
            <td>{{ activite.6 }}</td>
            <td>{{ activite.7 }}</td>
            <td>{{ activite.8 }}</td>
            <td>{{ activite.9 }}</td>
            <td><button><a href="{% url 'add_subActivity_form' %}?idParent={{ activite.0 }}">Ajouter une sous-activité</a></button></td>
            <button class="btn btn-outline-warning" type="button">
                <a href="{% url 'modify_activity_form' %}?activite={{ activite }}">Modifier l'activité</a>
            </button>
        </tr>
        {% if activite.0|get_sub_activities_by_id_parent %}
            <tr>
                <td colspan="8">{% include 'SubActivityTable.html' with subActivities=activite.0|get_sub_activities_by_id_parent %}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>

</body>
</html>
