{% block content %}
{% load gestion_tags %}

    <thead>
        <tr>
            <th colspan="8">{{ subActivities.0.2 }}</th>
        </tr>
    </thead>

    {% for activite in subActivities %}
        <tr>
            <td>{{ activite.3 }}</td>
            <td>{{ activite.4 }}</td>
            <td>{{ activite.5 }}</td>
            <td>{{ activite.6 }}</td>
            <td>{{ activite.7 }}</td>
            <td>{{ activite.8 }}</td>
            <td>{{ activite.9 }}</td>
            <td>
                <button class="btn btn-outline-primary" type="button"><a href="{% url 'add_subActivity_form' %}?idParent={{ activite.0 }}">ADD</a></button>

            </td>
        </tr>
            {% if activite.0|get_sub_activities_by_id_parent %}
                <tr> {% include 'SubActivityTable.html' with subActivities=activite.0|get_sub_activities_by_id_parent %}</td></tr>
            {% endif %}
    {% endfor %}

{% endblock content %}


