{% block content %}

{% load gestion_tags %}


        <tr>
            <td colspan="9">
                <table class="table table-bordered mb-0" >
                    {% for activite in subActivities %}

                    <tbody>
                        <tr>
                        <th style="width: 40px;">{{ activite.2 }}</th>
                        <th style="width: 60px;">{{ activite.3 }}</td>
                        <td style="width: 60px;">{{ activite.4 }}</td>
                        <td style="width: 60px;">{{ activite.5 }}</td>
                        <td style="width: 60px;">{{ activite.6 }}</td>
                        <td style="width: 60px;">{{ activite.7 }}</td>
                        <td style="width: 60px;">{{ activite.8 }}</td>
                        <td style="width: 100px;">{{ activite.9 }}</td>
                        <td style="width: 120px;">
                            <button class="btn btn-outline-primary" type="button">
                                <a class="text-decoration-none" href="{% url 'add_subActivity_form' %}?idParent={{ activite.0 }}">ADD</a>
                            </button>
                            <button class="btn btn-outline-warning" type="button">
                                <a class="text-decoration-none" href="{% url 'modify_activity_form' %}?activite={{ activite }}">UPG</a>
                            </button>
                            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ activite.0 }}" type="button">DEL</button>
                        </td>
                        </tr>
                    </tbody>
                        {% if activite.0|get_sub_activities_by_id_parent %}
                        
                        {% include 'SubActivityTable.html' with subActivities=activite.0|get_sub_activities_by_id_parent %}
        
                        {% endif %}
                        
                    {% endfor %}

                </table>
            </td>
        </tr>
                
            
            
    


    




{% endblock content %}